body{
	background-color: rgb(246,246,246);
	background-image: url("../images/Start_img.png")
}

/*Resgistration,sign-in page*/

.signIn{
	background-color: white;
	border: 1px solid rgb(205,205,205);
	margin: 30% auto;
	padding: 0;
	width: 100%;
	max-width: 450px;
}
.signIn input{
	display: block;
	width: 90%;
	margin: 10px auto;
	padding-left: 2%;
}
.signIn .signHead{
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}
.signIn form{
	margin: 25px auto;
}
.signIn .signHead p{
	margin: 0;
	padding: 0;
}
.goToSingIn, .goToRegistration{
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	width: 48%;
	margin: 0;
	padding:10px 0;
	border: none;
}
.goToSingIn:hover, .goToRegistration:hover{
	text-decoration: none;
	color: rgb(0,83,160);
}
.goToSingIn:hover:not(.offFocus), .goToRegistration:hover:not(.offFocus){
	color: initial;
}
.offFocus{
	background-color: rgb(238,238,238);
	border: 1px solid rgb(205,205,205);
	float: left;
	border-top: none;
	border-left: none;
	color: rgb(0,83,160);
}
.goToSingIn + .offFocus{
	float: right;
	border-left: 1px solid rgb(205,205,205);
	border-right: none;
}
.icon{
	height: 30px;
	width: 30px;
	margin-right: 20px;
}
.signIn input[type="submit"]{
	background: -webkit-gradient(linear, left bottom, left top, from(rgb(0,83,160)), to(rgb(0,119,187))) ;
	background: linear-gradient(to top, rgb(0,83,160), rgb(0,119,187)) ;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	border: 1px solid rgb(0,83,160);
	margin-top: 25px;
}
.signIn input[type="submit"]:hover{
	background: rgb(0,83,160);
}

/*Main page*/
.leftPart{
	margin: 0 auto;
	padding: 0;
	position: fixed;
}
.logOut{
	display: block;
	border-radius: 5px;
	padding: 2px 7px;
	font-size: 0.9em;
	margin: 5px auto;
	background-color: rgb(238,238,238);
	border: 1px solid #969697;
	color: rgb(0,83,160);
}
.userData{
	text-align: center;
	font-weight: bold;
	font-size: 1.2;
	color: rgb(0,83,160);	
	height: 10%;
	margin: 15%;
}
.userMenu{	
	margin: 0 auto;
	padding: 0;
}
.userMenu a{
	display: block;
	border-radius: 5px;
	padding: 5px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: rgb(238,238,238);
	border: 1px solid #969697;
	color: rgb(0,83,160);
	max-width: 200px;
}
.userMenu a:hover{
	text-decoration: none;
	background-color: rgb(218,218,256);
}
.mainTable{
	width: 100%;
	text-align: center;

	border: 1px solid rgb(0,83,160);
	border-collapse: collapse;
	/*color: #fffefa;*/
}
.mainMenu th{
	padding: 7px 1px;
	color: rgb(0,83,160);
	font-weight: bold;
	vertical-align: middle;
	border: 1px solid rgb(0,83,160);
	background-color: rgb(238,238,238);
}
.mainList tr:hover{
	background-color: rgb(218,218,256);
}
.mainList td{
	padding: 7px 1px;
	border: 1px solid rgb(0,83,160);
}
.logo{
	float: right;
	width: 90%;
	padding: 0;
	margin: 0;
}
.logoImg{
	float: right;
	width: 100%;
	max-width: 100px;
	height: auto;
	padding: 0;
	margin: 0;
}

.mainMenu{
	margin-top: 30px;
}

.logOut:hover{
	cursor: pointer;
	background-color: rgb(218,218,256);
}


/*START PAGE*/
.title{
	margin-top: 30%;
	text-align: center;
	color: white;
	font-weight: bold;
}
