body{
	background-color: rgb(246,246,246);
}

/*Resgistration,sign-in page*/

.signIn{
	background-color: white;
	border: 1px solid #969697;
	margin: 50px 0;
	padding: 0;
	width: 100%;
}
.signIn input{
	display: block;
	width: 90%;
	margin: 10px auto;
	padding-left: 2%;
}
.signIn .signHead{
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}
.signIn .signHead p{
	margin: 0;
	padding: 0;
}
.goToSingIn, .goToRegistration{
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	width: 48%;
	margin: 0;
	padding: 0;
	border: none;
}
.goToSingIn:hover, .goToRegistration:hover{
	text-decoration: none;
	color: rgb(0,83,160);
}
.goToSingIn:hover:not(.offFocus), .goToRegistration:hover:not(.offFocus){
	color: initial;
}
.offFocus{
	background-color: rgb(238,238,238);
	border: 1px solid #969697;
	float: left;
	border-top: none;
	border-left: none;
	color: rgb(0,83,160);
}
.goToSingIn + .offFocus{
	float: right;
	border-left: 1px solid #969697;
	border-right: none;
}
.signIn input[type="submit"]{
	background: -webkit-gradient(linear, left bottom, left top, from(rgb(0,83,160)), to(rgb(0,119,187))) ;
	background: linear-gradient(to top, rgb(0,83,160), rgb(0,119,187)) ;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	border: 1px solid rgb(0,83,160);
}
.signIn input[type="submit"]:hover{
	background: rgb(0,83,160);
}

/*Main page*/
.leftPart{
	margin-left: 3%;
	padding: 0;
}
.logOut{
	display: block;
	border-radius: 5px;
	padding: 2px 7px;
	font-size: 0.9em;
	margin: 5px auto;
	background-color: rgb(238,238,238);
	border: 1px solid #969697;
	color: rgb(0,83,160);
}
.userData{	
	text-align: center;
	font-weight: bold;
	font-size: 1.2;
	color: rgb(0,83,160);
	float: left;
	position: fixed;
	height: 10%;
	margin-top: 3%;
	padding-left: 2%;
	
}

.userMenu{
	position: fixed;
	margin-top: 15%;
}
.userMenu a{
	display: block;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
	background-color: rgb(238,238,238);
	border: 1px solid #969697;
	color: rgb(0,83,160);
}
.userMenu a:hover{
	text-decoration: none;
	background-color: rgb(218,218,256);
}
.mainTable{
	width: 100%;
	text-align: center;
	border: 1px solid rgb(0,83,160);
	border-collapse: collapse;
}
.mainMenu th{
	color: rgb(0,83,160);
	font-weight: bold;
	border: 1px solid rgb(0,83,160);
	background-color: rgb(238,238,238);
}
.mainList tr:hover{
	background-color: #C0DBE8;
}
.mainList td{
	border: 1px solid rgb(0,83,160);
}
.logo{
	float: right;
	width: 90%;
	padding: 0;
	margin: 0;
}
.logoImg{
	float: right;
	width: 100%;
	max-width: 100px;
	height: auto;
	padding: 0;
	margin: 0;
}

.mainMenu{
	margin-top: 30px;
}

.logOut:hover{
	cursor: pointer;
	background-color: rgb(218,218,256);
}
