<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/var25_css.css">
    <script type="text/javascript" src="../static/js/admin_ajax.js"></script>
</head>
<body>
	<div class="container leftPart">
		<div class="row">
			<div class="col-3">
				<div class="userData">
					<p class="login">ONLINE</p>
					<p class="firm">{{ curent_user }}</p>
                    <a href="/" name="logOut" class="logOut" >LogOut</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="userMenu">
					<a id="acceptedApp" href="#">+ Show only accepted applications</a>
					<a id="filledInApp" href="#">+ Show unaccepted applications</a>
					<a id="allApp" href="">+ Show all applications</a>
                    <a style="margin-top: 270px; background-color: #19663f" href="/adminIssue" >+ Issue warehouse goods</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-9 offset-3">
				<div class="logo">
                    <h1 style="display: inline-block;color: #c1c1c1;padding-top: 20px;padding-left: 160px;">Applications status table</h1>
					<img class="img-responsive logoImg" src="../static/images/icon-warehousing-solutions.png"></img>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-10 offset-2">
				<table class="mainTable adminTable">
					<thead class="mainMenu">
						<th data-type="string">Category</th>
						<th data-type="string">Type (Fason)</th>
						<th data-type="string">Manufacturer (Brand)</th>
						<th data-type="string">Model number</th>
                        <th data-type="number">Quantity</th>
                        <th data-type="number">Price</th>
                        <th data-type="string">User</th>
                        <th></th>

					</thead>
					<tbody class="mainList ">
                    {% for product in admin_table %}
                        <tr>
                            <td name="category" id="category">{{ product[5].name}}</td>
							<td name="fason">{{ product[4].name }}</td>
							<td name="brand">{{ product[2].name }}</td>
							<td name="model">{{ product[3].name }}</td>
                            <td name="quantity">{{ product[0].quantity }}</td>
                            <td name="price">{{ product[0].price }}</td>
                            <td name="login">{{ product[6].login }}</td>

                            {% if product[0].confirmed == False%}

                                <td class="my_new_td"><a  id = "currency" class="acceptButton"  href="change_status/{{ product[0].id }}" >Submit</a></td>

                            {% else %}
                                <td style="padding-left:10px;">Already {{ product[0].id }}</td>
                            {% endif %}

						</tr>
                    {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    <script>
            let acceptedApp = document.getElementById('acceptedApp');
            let filledInApp = document.getElementById('filledInApp');
            let mainTable = document.getElementsByClassName('mainTable')[0];

            if(acceptedApp && filledInApp){

                acceptedApp.onclick = function(){
                    for (let i = 0; i < mainTable.tBodies[0].rows.length; i++) {
                        if(mainTable.tBodies[0].rows[i].cells[8].innerHTML == 'Unaccepted')
                            mainTable.tBodies[0].rows[i].hidden = true;
                        if(mainTable.tBodies[0].rows[i].cells[8].innerHTML == 'Accepted')
                            mainTable.tBodies[0].rows[i].hidden = false;
                        if(mainTable.tBodies[0].rows[i].cells[10]){
                            mainTable.tBodies[0].rows[i].cells[10].hidden = true;
                            mainTable.tHead.rows[0].cells[10].hidden = true;
                        }

                    }
                }

                filledInApp.onclick = function(){
                    for (let i = 0; i < mainTable.tBodies[0].rows.length; i++) {
                        if(mainTable.tBodies[0].rows[i].cells[8].innerHTML == 'Unaccepted')
                            mainTable.tBodies[0].rows[i].hidden = false;
                        if(mainTable.tBodies[0].rows[i].cells[8].innerHTML == 'Accepted')
                            mainTable.tBodies[0].rows[i].hidden = true;
                        if(mainTable.tBodies[0].rows[i].cells[10]){
                            mainTable.tBodies[0].rows[i].cells[10].hidden = true;
                            mainTable.tHead.rows[0].cells[10].hidden = true;
                        }
                    }
                }

                allApp.onclick = function(){
                    for (let i = 0; i < mainTable.tBodies[0].rows.length; i++) {
                        mainTable.tBodies[0].rows[i].hidden = false;
                    }
                }
            }

        </script>

			
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>