<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Application for receipt</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/var25_css.css"> <!-- підключи js нормально -->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
				<div class="signIn">
					<div class="signHead">
						<a class="goToSingIn" href="applicationForReceipt.html">Receipt</a>
						<a class="goToRegistration offFocus" href="applicationForIssuance.html">Issuance</a>
					</div>

					<form id="receiptForm" method="post" action="">
                            <!-- форма -->
                        <input type="text" name="category" placeholder="Category" value="{{request.form.category}}">
                        <input type="text" name="fason" placeholder="Fason" value="{{request.form.fason}}">
                        <input type="text" name="brand" placeholder="Brand" value="{{request.form.brand}}">
                        <input type="text" name="model" placeholder="Model number" value="{{request.form.model}}">
                        <input id="amount" type="number" name="quantity" placeholder="Quantity" value="{{request.form.quantity}}">
                        <input type="date" name="date_issue" placeholder="Date of adoption" value="{{request.form.date_adoption}}"><!-- id не міняти -->
                        <input type="date" name="date_issue" placeholder="Date of issue" value="{{request.form.date_issue}}">
{#                        {{request.form.category(placeholder="Category") }}#}
{#                        {{request.form.fason(placeholder="Fason") }}#}
{#                        {{request.form.brand(placeholder="Brand") }}#}
{#                        {{request.form.model(placeholder="Model")}}#}
{#                        {{request.form.quantity(placeholder="Quantity")}}#}
                    	<p><input type="submit" class="btn btn-primary" value="Create application"></p>                        
					</form>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>