<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Warehouse</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" media="all">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/var25_css.css">
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

</head>
<body>
	<div class="container leftPart noPrint">
		<div class="row">
			<div class="col-3">
				<div class="userData">
                    <div id="reactProgram"></div>

                    <script type="text/babel">
                        class Check extends React.Component{
                            constructor(props) {
                                super(props);
                                this.state = {
                                  checked: true,
                                };
                              };
                            handleCheck  = () =>{
                                this.setState({checked: !this.state.checked});
                            };

                            render() {
                                var message;
                                if (this.state.checked){
                                    message = 'ONLINE';
                                } else{
                                    message = 'OFFLINE'
                                }
                                return(
                                    <div>
                                        <input type="checkbox" onChange={this.handleCheck} defaultChecked={this.state.checked}/>
                                        <p>{message}</p>
                                    </div>
                                );
                            }
                        }

                        const app = document.getElementById("reactProgram");

                        ReactDOM.render(<Check />,app);

                    </script>

					<p class="firm">{{ curent_user }}</p>
                    <a href="/" name="logOut" class="logOut" >LogOut</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="userMenu">
					<a href="/receipt">+ Add application</a>
					<a id="acceptedApp" href="#">+ Show only accepted applications</a>
					<a id="filledInApp" href="#">+ Show filled in applications</a>
					<a id="allApp" href="">+ Show all applications</a>

				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row noPrint">
			<div class="col-md-9 offset-3">
				<div class="logo">
					<img class="img-responsive logoImg" src="../static/images/icon-warehousing-solutions.png"></img>
				</div>
			</div>
		</div>
		<div class="row yesPrint">
			<div class="col-10 offset-2">
				<table class="mainTable">
					<thead class="mainMenu">
						<th data-type="string">Category</th>
						<th data-type="string">Type (Fason)</th>
						<th data-type="string">Manufacturer (Brand)</th>
						<th data-type="string">Model number</th>
                        <th data-type="number">Quantity</th>
                        <th data-type="number">Date adoption</th>
                        <th data-type="number">Date issue</th>
                        <th data-type="number">Price</th>
                        <th data-type="number">Application status</th>
					</thead>
					<tbody class="mainList">
                    {% for product in second_table %}
                        <tr>
                            <td>{{ product[5].name}}</td>
							<td>{{ product[4].name }}</td>
							<td>{{ product[2].name }}</td>
							<td>{{ product[3].name }}</td>
                            <td>{{ product[0].quantity }}</td>
                            <td>{{ product[0].date_adoption }}</td>
                            <td>{{ product[0].date_issue }}</td>
                            <td>{{ product[0].price }}</td>
                            {% if product[0].confirmed == True %}
                                <td>Accepted</td>
                                {% else %}
                                <td>Unaccepted</td>
                            {% endif %}

						</tr>
                    {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
        <script>
            let acceptedApp = document.getElementById('acceptedApp');
            let filledInApp = document.getElementById('filledInApp');
            let mainTable = document.getElementsByClassName('mainTable')[0];

            if(acceptedApp && filledInApp){

                acceptedApp.onclick = function(){
                    for (let i = 0; i < mainTable.tBodies[0].rows.length; i++) {
                        if(mainTable.tBodies[0].rows[i].cells[8].innerHTML == 'Unaccepted')
                            mainTable.tBodies[0].rows[i].hidden = true;
                        if(mainTable.tBodies[0].rows[i].cells[8].innerHTML == 'Accepted')
                            mainTable.tBodies[0].rows[i].hidden = false;
                        if(mainTable.tBodies[0].rows[i].cells[10]){
                            mainTable.tBodies[0].rows[i].cells[10].hidden = true;
                            mainTable.tHead.rows[0].cells[10].hidden = true;
                        }

                    }
                }

                filledInApp.onclick = function(){
                    for (let i = 0; i < mainTable.tBodies[0].rows.length; i++) {
                        if(mainTable.tBodies[0].rows[i].cells[8].innerHTML == 'Unaccepted')
                            mainTable.tBodies[0].rows[i].hidden = false;
                        if(mainTable.tBodies[0].rows[i].cells[8].innerHTML == 'Accepted')
                            mainTable.tBodies[0].rows[i].hidden = true;
                        if(mainTable.tBodies[0].rows[i].cells[10]){
                            mainTable.tBodies[0].rows[i].cells[10].hidden = true;
                            mainTable.tHead.rows[0].cells[10].hidden = true;
                        }
                    }
                }

                allApp.onclick = function(){
                    for (let i = 0; i < mainTable.tBodies[0].rows.length; i++) {
                        mainTable.tBodies[0].rows[i].hidden = false;
                    }
                }
            }

        </script>

			
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>